.work-in-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    text-align: center;
  }
  
  .code-icon {
    margin-bottom: 20px;
    animation: rotate 2s linear infinite;
    stroke: orange; /* SVG icon color set to orange */
  }
  
  .animate {
    animation: fadeInUp 2s ease-out infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  